html,body{
    margin:0;
    height:100%;
    width:100%;
}
body{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "info_panel access_panel";
}
#information_panel{
    grid-area: info_panel;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#access_panel{
    grid-area: access_panel;
    height:100%;
    background-color: bisque;
    
}
#password_length{
    width: 20%;
}
#copy{
    width: 100%;
    height:100%;
    float:left;
    grid-template:button;
}

#container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin:15%;
}
#generate_password{
    margin-top:5%;
}
.card{
    width: 70%;
    display:grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "text button";
    overflow-wrap: break-word;
}
.accessors{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 17px 0;
}

h1{
    text-align: center;
    margin:10% 20% 0 20%;
}
#password_text{
    grid-template: text;
    text-align:center;
    overflow-wrap: break-word;
    vertical-align: center;;
}

.alert{
    background-color:red;
    text-align:center;
    font-size: 12px;
    font-weight: bold;
    height:10%;
    margin-bottom: 5%;
}
.very_strong{
    color: #0BEA0A;
}
.strong{
    color: #94FF00;
}
.medium{
    color: #FF9200;
}
.weak{
    color:red;
}
